<table class="table">
<tbody>
	{%- set prev_year = namespace(count=1900) %}
	{%- set empty_line = namespace(el=0) %}
	{%- for entry in entries %}
	<tr>
		<td>
			<span class="date">
				{% if entry.fields['year'] != prev_year.count %}
				    <big><strong>{{ entry.fields['year'] }}</strong></big><br />
				    {%- set prev_year.count = entry.fields['year'] %}
				    {%- set empty_line.el = 1 %}
				{% endif %}
				{%- set mon = entry.fields['month'] %}
				{%- if mon %}
				    {{ entry.fields['month']|monthname }}
			  {% endif %}
			</span>
		</td>
		{% if empty_line.el == 1 %}
		<td class="publication">
		<br />
		</td>
		</tr>
		<tr>
				<td>
			<span class="date">
				<br>
			</span>
		</td>
		{%- set empty_line.el = 0 %}
		{% endif %}
		<td class="publication">
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
				{%- else %}
				{{ entry|title }}.
				{%- endif %}
			</span><br />
			<span class="authors">
				{{ entry.persons['author']|author_list }}.
			</span><br />
			<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>.
			{%- if entry.fields['note'] %}
			<span class="note">
			{{ entry.fields['note']|escape }}.
			</span>
			{%- endif %}
			<br />
			<span class="links">
			{%- for type, url in (entry|extra_urls).items() %}
				[<a href="{{ url|escape }}">{{ type|escape }}</a>]
			{%- endfor %}
				{%- if entry.fields['abstract'] %}
				[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_{{entry.fields['key']}}').slideToggle('fast');return false;">abstract</a>]
				{%- endif %}
			</span>
			{%- if entry.fields['abstract'] %}
			<div id="abstract_{{entry.fields['key']}}" class="abstract">
			{{ entry.fields['abstract'] |escape }}
			</div>
			{%- endif %}
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>